<% if person.acting_credits.any? %>
<!-- Acting credits section -->
<section class='show-section cast-credits-section mb-9'>
  <h1 class='display-5 mb-5'>Cast credits</h1>
  <div class='cast-credits-carousel slick-carousel'>
    <% person.acting_credits.first(9).each do |credit| %>
		  <% if not credit.poster_path.nil? %>
        <%= render partial: '/people/credits_carousel_item', locals: { credit: credit } %>
			<% end %>
    <% end %>
  </div>
</section> <!--/ End acting credits section -->
<% end %>

<% if person.crew_credits.any? %>
<!-- Crew credits section -->
<section class='show-section crew-credits-section mb-9'>
  <h1 class='display-5 mb-5'>Crew credits</h1>
  <div class='crew-carousel slick-carousel'>
    <% person.crew_credits.first(9).each do |credit| %>
		  <%# if not credit.poster_path.nil? %>
        <%= render partial: '/people/credits_carousel_item', locals: { credit: credit } %>
			<%# end %>
    <% end %>
  </div>
</section> <!--/ End crew credits section -->
<% end %>

<% if person.images.any? %>
<!-- Images section -->
<section class='show-section images-section mb-9'>
  <h1 class='display-5 mb-5'>Images</h1>

  <div class='card-columns'>
    <% person.images.take(6).each do |image| %>
    <div class='card'>
      <img class="card-img-top img-fluid" src="<%= configurations_base_url %>original<%=image.file_path%>" data-holder-rendered="true">
    </div>
    <% end %>
  </div>
</section> <!--/ End images section -->
<% end %>

