<%= render '/movies/home_carousel' %>

<div class='container mt-2'>
  <% home_sections.each do |section| %>
    <%= render partial: 'movies/home_collection_section', locals: { section: section } %>
  <% end %>
</div>

<%= render '/movies/video_modal' %>
<%= render '/layouts/search_overlay' %>
